<h1 class="text-center mt-4">Create New Category</h1>

<div class="container">

  <%= render 'form' %>

  <div class ="row justify-content-center">
    <div class = "col-10">
    </div>
    <div class="mb-3">
      <%= link_to '[Cancel and Return to Categories List]', categories_path, class: "text-info" %>
    </div>
  </div>
</div>